<mat-form-field style="width: 100%; min-width: 260px">
	<mat-label>{{ config.label }}</mat-label>

	<mat-chip-grid #itemChips [attr.aria-label]="config.label + ' selection'">
		<mat-chip-row *ngFor="let item of selectedItems" (removed)="onRemove(item)">
			{{ config.chipDisplayWith(item) }}
			<button
				matChipRemove
				[attr.aria-label]="'Remove ' + config.displayWith(item)"
			>
				<mat-icon>cancel</mat-icon>
			</button>
		</mat-chip-row>
	</mat-chip-grid>

	<input
		placeholder="{{ config.label }}"
		#itemsInput
		[formControl]="inputControl"
		[matAutocomplete]="ac"
		[matChipInputFor]="itemChips"
		[matChipInputSeparatorKeyCodes]="separatorKeycodes"
	/>

	<mat-autocomplete #ac (optionSelected)="itemSelected($event)">
		<ng-container *ngFor="let option of filteredOptions | async">
			<mat-option *ngIf="ShouldDisplay(option)" [value]="option">
				{{ config.displayWith(option) }}
			</mat-option>
		</ng-container>
	</mat-autocomplete>
</mat-form-field>
