<ng-container *ngIf="dataSource as ds">
	<!-- Search panel -->
	<mat-form-field>
		<mat-label>Search</mat-label>
		<input matInput [formControl]="searchControl" />
		<mat-hint>Search for values from the list</mat-hint>
	</mat-form-field>

	<mat-accordion
		class="list_container"
		*tdLoad="ds.data$ | async as items_data"
	>
		<mat-expansion-panel class="item" *ngFor="let item of items_data">
			<!-- Extension panel header (quick description) -->
			<mat-expansion-panel-header>
				<mat-panel-title *ngIf="itemEntryTitle">
					<ng-container
						[ngTemplateOutlet]="itemEntryTitle.templateRef"
						[ngTemplateOutletContext]="{ $implicit: item }"
					></ng-container>
				</mat-panel-title>
				<mat-panel-description *ngIf="itemEntryDescription && !smallScreen">
					<ng-container
						[ngTemplateOutlet]="itemEntryDescription.templateRef"
						[ngTemplateOutletContext]="{ $implicit: item }"
					></ng-container>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<!-- Expanded content -->
			<div class="item_entry_container">
				<!-- Static details -->
				<div *ngIf="itemProps" class="item_entry_details">
					<ng-container *ngFor="let option of itemProps.options">
						<ng-container
							*tdIf="
								itemProps.GetValue(
									item,
									option.key || option.location
								) as column_value
							"
						>
							<div class="item_entry_prop">
								<p class="heading">{{ option.title }}</p>
								<p class="value">
									{{ column_value | tdTransformByOptions : option.transform }}
								</p>
							</div>
						</ng-container>
					</ng-container>
				</div>

				<!-- Dynamic templates -->
				<ng-container
					*ngFor="let content_node of itemEntryContentNodes"
					[ngTemplateOutlet]="content_node.templateRef"
					[ngTemplateOutletContext]="{ $implicit: item }"
				>
				</ng-container>
			</div>
		</mat-expansion-panel>
	</mat-accordion>

	<!-- Items paginator -->
	<mat-paginator
		[length]="dataSource.Count()"
		[pageSizeOptions]="[10, 15, 25, 50]"
		(page)="onPage($event)"
		[showFirstLastButtons]="dataSource.Count() >= 50"
	>
	</mat-paginator>
</ng-container>
