:host {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.list_container {
	display: flex;
	flex-direction: column;
	gap: 0.125rem;
	font-family: Montserrat, sans-serif;
}

.items_viewport {
	display: flex;
	flex-direction: column;
	height: min-content;
	max-height: 540px;
}

.item {
	border: 1px solid #dedede;
	box-shadow: none;
}

.item_entry_container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.item_entry_details {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 2rem;
		row-gap: 0.75rem;
	}
}

.item_entry_prop {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.125rem;

	.heading,
	.value {
		margin: 0;
	}

	.heading {
		font-weight: 500;
	}
}
