:host {
	--local-border-color: #dedede;
	--local-border-color-rgb: 222, 222, 222;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.title {
	display: flex;
	flex-direction: column;

	& > h1,
	& > p {
		margin: 0 0.5rem;
		text-align: center;
	}
}

.timetable {
	max-width: 100%;
	display: grid;
	grid-template-rows: repeat(3, min-content);
	grid-auto-flow: column;
	gap: 2rem;

	&_day {
		overflow: auto;
		max-width: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		h3 {
			text-align: center;
		}

		&_table {
			max-width: 100%;
			width: 100%;
			overflow-x: auto;
			display: flex;

			table {
				height: 100%;
				width: 100%;
				max-width: 100%;
				border-collapse: collapse;
				border: solid 1px var(--border-color, var(--local-border-color));

				th {
					text-align: left;
				}

				td,
				th {
					padding: 0.5rem;
					height: 100%;
				}

				tr {
					height: 100%;
					border-bottom: 1px solid
						var(--border-color, var(--local-border-color));

					&:nth-child(even) {
						//background: #f6f6f6;
						background-color: rgb(
							var(--border-color-rgb, var(--local-border-color-rgb)),
							0.25
						);
					}

					/* Index styling */
					td.index,
					th.index {
						text-align: center;
						border-right: solid 1px
							var(--border-color, var(--local-border-color));
						width: min-content;
						vertical-align: top;
					}

					/* Time styling */
					td.time,
					th.time {
						width: fit-content;
						white-space: nowrap;
						vertical-align: top;
					}

					/* Unit styling */
					td.unit,
					th.unit {
						width: min-content;
						text-align: center;
					}
				}

				.forms,
				.lessons,
				.homework,
				.marks,
				.classrooms {
					td {
						height: 100%;
						display: grid;
						grid-auto-rows: 1fr;
						grid-auto-flow: row;
						gap: 0.5rem;
						align-items: flex-start;

						p {
							margin: 0;
						}
					}
				}

				.forms {
					white-space: nowrap;
				}

				.lessons {
					max-width: 18ch;
					text-align: left;
					width: fit-content;
				}

				th.marks {
					text-align: center;
				}

				.marks {
					text-align: center;
					align-items: center;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		grid-template-rows: min-content;
		grid-auto-flow: row;
	}
}
