<div class="container">
	<div *ngIf="displayTitle" class="title">
		<h1>Timetable:</h1>
		<p>{{ timetable.start_date | date }} - {{ timetable.end_date | date }}</p>
	</div>

	<div *ngIf="displayable" class="timetable">
		<div class="timetable_day" *ngFor="let day of displayable.data | keyvalue">
			<h3>{{ day.key | date : "EEEE, dd LLLL" }}</h3>
			<div class="timetable_day_table">
				<table>
					<!-- Header -->
					<tr>
						<th *ngIf="displayColumns.includes('index')" class="index">
							&num;
						</th>
						<th *ngIf="displayColumns.includes('time')" class="time">Time</th>
						<th *ngIf="formPrefix && displayColumns.includes('form')">Form</th>
						<th *ngIf="displayColumns.includes('lesson')">Lesson</th>
						<th *ngIf="displayColumns.includes('homework')">Homework</th>
						<th *ngIf="displayColumns.includes('marks')" class="marks">
							Marks
						</th>
						<th *ngIf="displayColumns.includes('unit')" class="unit">Unit</th>
					</tr>

					<!-- Generated rows -->
					<tr *ngFor="let group of day.value.Data">
						<td *ngIf="displayColumns.includes('index')" class="index">
							{{ group.index }}
						</td>

						<td *ngIf="displayColumns.includes('time')" class="time">
							{{ group.start_time | time }} -
							{{ group.end_time | time }}
						</td>

						<td *ngIf="formPrefix && displayColumns.includes('form')">
							<div class="forms">
								<ng-container *ngFor="let entry of group.timetable">
									<a
										*ngIf="entry.form as form"
										[routerLink]="baseFormLink ? [baseFormLink, form.id] : null"
									>
										<b>{{ form.grade }} "{{ form.letter }}"</b>
									</a>
								</ng-container>
							</div>
						</td>

						<td *ngIf="displayColumns.includes('lesson')">
							<div class="lessons">
								<ng-container *ngFor="let entry of group.timetable">
									<p *ngIf="entry.form_lesson as formLesson">
										{{ formLesson.lesson?.name }}
										{{
											displaySubgroups && formLesson.form_subgroup
												? "(" + formLesson.form_subgroup.name + ")"
												: ""
										}}
									</p>
								</ng-container>
							</div>
						</td>

						<td *ngIf="displayColumns.includes('homework')">
							<div class="homework">
								<p *ngFor="let lesson of group.timetable">
									{{ lesson.homework }}
								</p>
							</div>
						</td>

						<td *ngIf="displayColumns.includes('marks')">
							<div class="marks">
								<ng-container *ngFor="let lesson of group.timetable">
									<p *ngFor="let entry of $any(lesson).diary">
										{{ entry.marks }}
									</p>
								</ng-container>
							</div>
						</td>

						<td *ngIf="displayColumns.includes('unit')" class="unit">
							<div class="classrooms">
								<p *ngFor="let lesson of group.timetable">
									{{ lesson.classroom }}
								</p>
							</div>
						</td>
					</tr>

					<!-- End of table -->
				</table>
			</div>
		</div>
	</div>
</div>
