<mat-form-field [style.height]="config.required_hint ? '' : '56px'">
	<mat-label>{{ config.label }}</mat-label>

	<input
		type="text"
		matInput
		[matAutocomplete]="ac"
		[formControl]="inputControl"
	/>

	<input type="hidden" [formControl]="actualValue" />

	<mat-autocomplete
		#ac
		(optionSelected)="ItemSelected($event)"
		[displayWith]="config.displayWith"
	>
		<mat-option *ngIf="!config.required" [value]="null">None</mat-option>
		<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
			{{ config.displayWith(option) }}
		</mat-option>
	</mat-autocomplete>

	<mat-error *ngIf="config.required_hint"
		>{{ config.label }} requires to be selected!
	</mat-error>
</mat-form-field>
