<h1 mat-dialog-title>{{ dialogData.title }}</h1>
<div *ngIf="dialogData.warning as warning" mat-dialog-content>
	<p>{{ warning }}</p>
</div>
<div mat-dialog-actions>
	<button mat-stroked-button [mat-dialog-close]="{ confirmed: false }">
		No, don't proceed
	</button>
	<button mat-stroked-button [mat-dialog-close]="{ confirmed: true }">
		Yes, proceed
	</button>
</div>
